<ion-view>
    <!--<ion-header-bar >-->

    <!--</ion-header-bar>-->
    <ion-header-bar align-title="center" class="bar-positive">
        <!--<button class="button button-icon icon ion-navicon" menu-toggle="left" style="display: block;"></button>-->
        <h1 class="title">首页</h1>
    </ion-header-bar>
    <ion-content id="home"  class="has-tabs">
        <div class="content">
            <div class="card">

                <label class="item item-input item-floating-label">
                    <span class="input-label">目的地</span>
                    <input type="text" placeholder="目的地" ng-model="input.dest" ng-click="selectDest()">
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label">景点</span>
                    <input type="text" placeholder="景点"  ng-model="input.viewpoint" ng-click="selectVP()">
                </label>
                <!--<label class="item item-input item-floating-label">-->
                    <!--<span class="input-label">Email</span>-->
                    <!--<input type="text" placeholder="Email">-->
                <!--</label>-->
                <div class="item">
                    <button class="button button-block button-positive" ng-click="doSearch()">查询</button>
                </div>
            </div>
            <div class="card">
                <div class="item title">热门景点</div>
                <div class="item item-image" ng-repeat="spot in hotSpot" style="position: relative">
                    <a ui-sref="app.spot({id: spot.vp_id})" style="display: block; max-height: 90px;" >
                        <img ng-src="{{spot.photo_url}}">
                    </a>
                    <h2 ng-bind="spot.name" style="position: absolute;bottom: 8px;color: #FFF;left: 10px;text-shadow: 1px 1px 1px black;"></h2>
                </div>
            </div>
        </div>

    </ion-content>
    <div class="tabs tabs-icon-top  tabs-positive">
        <a class="tab-item" ui-sref="app.home">
            <i class="icon ion-home"></i>
            首页
        </a>
        <a class="tab-item" ui-sref="app.discovery">
            <i class="icon ion-paper-airplane"></i>
            热景直播
        </a>
        <a class="tab-item open-live" ui-sref="app.startLive"">
            <i class="icon ion-ios-pulse-strong" ></i>
        </a>
        <a class="tab-item" ui-sref="app.itinerary">
            <i class="icon ion-calendar"></i>
            行程播报
        </a>
        <a class="tab-item" ui-sref="app.myTravel">
            <i class="icon ion-person"></i>
            我的travel
        </a>
    </div>
</ion-view>
