<ion-modal-view>
    <ion-header-bar align-title="center" class="bar-positive">
        <button class="button button-icon icon ion-close-round"  ng-click="closeModal()"></button>
    </ion-header-bar>
    <ion-content>
        <!--<baidu-map options="mapOptions" style="width: 100%; height: 600px; display: block;"></baidu-map>-->
        <div style="height: 600px;"
             amap-map
             amap-map-options="modelSpot.mapOptions"
             amap-map-marker="modelSpot.marker">
        </div>
    </ion-content>
</ion-modal-view>