<ion-modal-view>
    <ion-header-bar align-title="left" class="bar-positive" style="position:absolute; background: transparent; border-bottom: none;">
        <button class="button button-icon icon ion-ios-arrow-back" ng-click="goBack()"></button>
        <!--<h1 class="title" ng-bind="topic"></h1>-->
    </ion-header-bar>
    <ion-content style="top:0;" scroll="false">
        <!--<baidu-map options="mapOptions" style="width: 100%; height: 600px; display: block;"></baidu-map>-->
        <div style="height: 100%;"
             amap-map
             amap-map-options="currentMap.mapOptions"
             amap-map-markers="currentMap.markers">
        </div>
    </ion-content>
</ion-modal-view>