<ion-view>
    <ion-header-bar align-title="center" class="bar-positive">
        <button class="button button-icon icon ion-ios-arrow-back" ng-click="goBack()"></button>
        <h1 class="title">我的直播</h1>
    </ion-header-bar>

    <ion-content>
        <div class="list">
          <a class="item item-thumbnail-left">
            <img src="images/home/beijing-portrait.jpg">
            <h2>SOHO2</h2>
            <p>2016年04月10日</p>
          </a>
          <a class="item item-thumbnail-left">
            <img src="images/home/shanghai-portrait.jpg">
            <h2>SOHO1</h2>
            <p>2016年04月1日</p>
          </a>
        </div>
    </ion-content>

</ion-view>
