<ion-view>
    <ion-header-bar align-title="center" class="bar-positive">
        <button class="button button-icon icon ion-ios-arrow-back" ng-click="goBack()"></button>
        <h1 class="title">我的直播</h1>
    </ion-header-bar>

    <ion-content>
        <div class="list">
          <a class="item item-thumbnail-left" ng-repeat="lv in lives" ng-click="showMenu(lv)">
            <img src="images/home/shanghai-portrait.jpg">
            <h2>{{lv.title}}</h2>
            <p>{{ lv.time | date:'yyyy年MM月dd日' }}</p>
            <p>状态: {{ lv.status}}</p>
          </a>
        </div>
    </ion-content>

</ion-view>
