<ion-view>
    <ion-header-bar align-title="center" class="bar-positive">
    <!--<button class="button button-icon icon ion-navicon" menu-toggle="left"></button>-->
        <h1 class="title">我的Travel</h1>
    </ion-header-bar>

    <ion-content  class="has-tabs">
        <div class="list">
          <a class="item item-avatar" ng-if="user">
            <img src="images/thumbnail/EmptyThunbnailPhoto.png">
            <h2>{{user.username}}</h2>
            <!--<p>Back off, man. I'm a scientist.</p>-->
          </a>
          <a class="item" ui-sref="app.login" ng-if="!user" style="text-align: center;">登入</a>
          <a class="item" ui-sref="app.myLive">我的直播</a>
          <a class="item" ui-sref="app.notification">推送消息</a>
          <a class="item" ui-sref="app.playHistory">历史观看</a>
          <a class="item" ui-sref="app.myFollow">关注主播</a>
          <a class="item" ui-sref="app.pointsMall">积分商城</a>
          <a class="item">设置</a>
          <a class="item" ng-if="user" style="text-align: center;" ng-click="logout();" >登出</a>

        </div>
    </ion-content>
    <div class="tabs tabs-icon-top  tabs-positive">
        <a class="tab-item" ui-sref="app.home">
            <i class="icon ion-home"></i>
            首页
        </a>
        <a class="tab-item" ui-sref="app.discovery">
            <i class="icon ion-paper-airplane"></i>
            热景直播
        </a>
        <a class="tab-item open-live" ui-sref="app.startLive">
            <i class="icon ion-ios-pulse-strong" ></i>
        </a>
        <a class="tab-item" ui-sref="app.itinerary">
            <i class="icon ion-calendar"></i>
            景点播报
        </a>
        <a class="tab-item" ui-sref="app.myTravel">
            <i class="icon ion-person"></i>
            我的travel
        </a>
    </div>
</ion-view>
