<ion-view>
    <ion-header-bar align-title="center" class="bar-positive">
      <button class="button button-icon icon ion-ios-arrow-back" ng-click="goBack()"></button>
      <h1 class="title">推送消息</h1>
    </ion-header-bar>

    <ion-content>
        <div class="list">
          <a class="item item-avatar">
            <img src="images/thumbnail/EmptyThunbnailPhoto.png">
            <h2>看看书</h2>
            <p>看看书 开始直播啦，快来看吧</p>
          </a>
          <a class="item item-avatar">
            <img src="images/thumbnail/EmptyThunbnailPhoto.png">
            <h2>克鲁斯</h2>
            <p>克鲁斯 开始直播啦，快来看吧</p>
          </a>
          <a class="item item-avatar">
            <img src="images/thumbnail/EmptyThunbnailPhoto.png">
            <h2>Venkman</h2>
            <p>Venkman 直播啦，快来看吧</p>
          </a>
        </div>
    </ion-content>

</ion-view>
