<ion-view>
    <ion-header-bar align-title="center" class="bar-positive">
      <button class="button button-icon icon ion-ios-arrow-back" ng-click="goBack()"></button>
        <h1 class="title">历史观看</h1>
    </ion-header-bar>

    <ion-content>
        <div class="list" ng-repeat="lv in historyList">
          <a class="item item-thumbnail-left" ng-click="playST(lv)">
            <img src="images/home/shanghai-portrait.jpg">
            <h2>{{lv.title}}</h2>
            <p>{{lv.username}}</p>
            <p>{{lv.timeshift}}</p>
          </a>

        </div>
    </ion-content>

</ion-view>
