<ion-view style="background: #FBFBFB;">
    <ion-header-bar align-title="left" class="bar-positive" style="position:absolute; background: transparent;border-bottom: none;">
        <button class="button button-icon icon ion-ios-arrow-back" ng-click="goBack()"></button>
        <!--<h1 class="title" ng-bind="topic"></h1>-->
    </ion-header-bar>
    <ion-content style="top:-100px;">
        <div class="list">
            <div class="item item-image">
                <img ng-src="{{spot.photo}}">
            </div>
            <div class="item item-body">
                <h3 ng-bind="spot.topic" style="margin-top:0;"></h3>
                <p ng-bind="spot.introduce" ng-if="showIntroduce"></p>
                <center>
                    <button class="button button-small button-outline button-positive" style="padding-left: 20px; padding-right: 20px;" ng-bind="(showIntroduce? '收起简介' : '展开简介')" ng-click="showIntroduce=!showIntroduce"></button>
                </center>
            </div>
            <div class="item" style="padding: 0;">
                <div style="height: 100px;" ng-click="openMap()"
                     amap-map
                     ng-model="spot">
                </div>
            </div>
            <div class="item item-divider">
            </div>
            <div class="list item" style="padding: 0;">
                <div class="item title">直播</div>
                <a class="item item-avatar" ng-repeat="live in spot.lives">
                    <img ng-src="{{live.userImage}}">
                    <h2 ng-bind="live.name"></h2>
                    <p  ng-bind="live.userName"></p>
                </a>
                <div class="item" ng-if="spot.lives.length == 0" >暂时没有直播</div>
            </div>
            <!--<a class="item item-icon-left assertive" href="#">-->
                <!--<i class="icon ion-music-note"></i>-->
                <!--Start listening-->
            <!--</a>-->
        </div>
    </ion-content>
</ion-view>