<ion-view style="background: #FBFBFB;">
    <ion-header-bar align-title="left" class="bar-positive" style="position:absolute; background: transparent;border-bottom: none;">
        <button class="button button-icon icon ion-ios-arrow-back" ng-click="goBack()"></button>
        <!--<h1 class="title" ng-bind="topic"></h1>-->
    </ion-header-bar>
    <ion-content style="top:0;">
        <div class="list">
            <div class="item item-image">
                <img ng-src="{{spot.photo}}">
            </div>
            <div class="item item-body">
                <h3 ng-bind="spot.topic"></h3>
                <p ng-bind="spot.introduce"></p>
            </div>
            <div class="item" style="padding: 0;">
                <div style="height: 100px;" ng-click="openMap()"
                     amap-map
                     amap-map-options="spot.mapOptions"
                     amap-map-marker="spot.marker">
                </div>
            </div>
            <!--<a class="item item-icon-left assertive" href="#">-->
                <!--<i class="icon ion-music-note"></i>-->
                <!--Start listening-->
            <!--</a>-->
        </div>
    </ion-content>
</ion-view>