<ion-modal-view>
    <ion-header-bar align-title="center" class="bar-positive">
        <button class="button"  ng-click="closeModal()">取消</button>
        <h1 class="title">选择</h1>
        <button class="button">确定</button>
    </ion-header-bar>
    <ion-content>
        <!--<baidu-map options="mapOptions" style="width: 100%; height: 600px; display: block;"></baidu-map>-->
        <div style="height: 600px;"
             amap-map
             amap-map-options="{position: [120.090393066406, 30.2032623291016], zoom: 17}">
        </div>
    </ion-content>
</ion-modal-view>