.loader {
  text-align: center;
  width: 100%;
  padding: 20px 0;
}


.card {
  margin-left: 0px;
  margin-right: 0px;
}

.ctext-shadow {
  text-shadow: 1px 1px 1px #acacac;
  font-weight: bolder;
}

.tabs.tabs-icon-top{
  .tab-item.open-live{
    background: #669EFD;
    color: #fbf8ff;
    i {
      font-size: 46px;
    }
  }
}